[submodule "vcell-messaging"]
	path = vcell-messaging
	url = https://github.com/virtualcell/vcell-messaging.git
[submodule "vcell-expressionparser"]
	path = vcell-expressionparser
	url = https://github.com/virtualcell/vcell-expressionparser.git
